pipeline/PL_extract_from_sqldb.json
{
	"name": "PL_extract_from_sqldb",
	"properties": {
		"activities": [
			{
				"name": "extract_from_sqldb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_task_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@activity('get_task_parameters').output.firstRow.src_sql",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_generic_adls_text_file",
						"type": "DatasetReference",
						"parameters": {
							"p_foldername": {
								"value": "@activity('get_task_parameters').output.firstRow.tgt_folder",
								"type": "Expression"
							},
							"p_filename": {
								"value": "@activity('get_task_parameters').output.firstRow.tgt_filename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "get_task_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM (\nSELECT jtp.job, jtp.task, jtp.task_sequence, jtp.parameter, jtp.value\nFROM\n\tconfig.job_task_parameters jtp\n\tJOIN\n\tconfig.task_parameters tp\n\tON\n\t\tjtp.task = tp.task\n\t\tAND jtp.parameter = tp.parameter\n\t\tAND jtp.active = 'Y'\n\t\tAND tp.active = 'Y'\n\t\tAND tp.parameter_type = 'static'\nWHERE jtp.job = 'load_customer'\n\tAND jtp.task = 'PL_extract_from_sqldb'\n) AS n\nPIVOT\n(\n\tMAX(value) FOR parameter IN (src_sql, tgt_folder, tgt_filename)\n) AS p",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "_FRAMEWORK"
		},
		"annotations": []
	}
}