pipeline/pl_ingest_all_ecdc_data.json
{
	"name": "pl_ingest_all_ecdc_data",
	"properties": {
		"activities": [
			{
				"name": "get_file_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ecdc_file_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ingest_each_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_file_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_file_list').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 32,
					"activities": [
						{
							"name": "ingest_ecdc_data",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ingest_ecdc_github_data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_filename": {
										"value": "@item().p_filename",
										"type": "Expression"
									},
									"p_sourcename": {
										"value": "@item().p_sourcename",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Covid"
		},
		"annotations": []
	}
}