pipeline/PL_job_runner.json
{
	"name": "PL_job_runner",
	"properties": {
		"activities": [
			{
				"name": "set_job_id",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_job_id",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "initialize_tasks",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "set_job_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_init_job_control]",
					"storedProcedureParameters": {
						"job": {
							"value": {
								"value": "@pipeline().parameters.p_job",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@variables('v_job_id')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ln_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get_env_parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "initialize_tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM\n(\n\tSELECT parameter, value\n\tFROM config.environment\n) AS base\nPIVOT\n(\n\tMAX(value) FOR parameter IN (subscription, rg, adf)\n) AS pivoted",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_tasks",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get_env_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[control].[sp_get_tasks]",
						"storedProcedureParameters": {
							"job": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job",
									"type": "Expression"
								}
							},
							"job_id": {
								"type": "String",
								"value": {
									"value": "@variables('v_job_id')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for_each_task",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_tasks').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "set_task_log",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_task_log",
								"value": {
									"value": "@concat('Starting task ', item().task)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "log_task_start",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "set_task_log",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[sp_job_task_log]",
								"storedProcedureParameters": {
									"job": {
										"value": {
											"value": "@pipeline().parameters.p_job",
											"type": "Expression"
										},
										"type": "String"
									},
									"job_id": {
										"value": {
											"value": "@variables('v_job_id')",
											"type": "Expression"
										},
										"type": "String"
									},
									"job_status": {
										"value": "RUNNING",
										"type": "String"
									},
									"status_description": {
										"value": {
											"value": "@variables('v_task_log')",
											"type": "Expression"
										},
										"type": "String"
									},
									"task": {
										"value": {
											"value": "@item().task",
											"type": "Expression"
										},
										"type": "String"
									},
									"task_id": {
										"value": "0",
										"type": "String"
									},
									"task_sequence": {
										"value": {
											"value": "@item().task_sequence",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"task_status": {
										"value": "SCHEDULED",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ln_sqldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "check_prior_task_status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "log_task_start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[sp_task_status]",
								"storedProcedureParameters": {
									"task_status": {
										"value": {
											"value": "@variables('v_task_status')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ln_sqldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "run_task",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "check_prior_task_status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@concat(\n    'https://management.azure.com/subscriptions/',\n    activity('get_env_parameters').output.firstRow.subscription,\n    '/resourceGroups/', \n    activity('get_env_parameters').output.firstRow.rg,\n    '/providers/Microsoft.DataFactory/factories/',\n    activity('get_env_parameters').output.firstRow.adf, \n    '/pipelines/', item().task, \n    '/createRun?api-version=2018-06-01'\n )",
									"type": "Expression"
								},
								"body": {
									"value": "@concat(\n    '{\"p_job\" : \"', item().job,\n    '\", \"p_job_id\" : \"', variables('v_job_id'),\n    '\", \"p_task_sequence\" : \"', item().task_sequence, '\"}'\n)",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI"
								}
							}
						},
						{
							"name": "set_run_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "run_task",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_run_id",
								"value": "333"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_job": {
				"type": "string"
			}
		},
		"variables": {
			"v_job_id": {
				"type": "String"
			},
			"v_task_log": {
				"type": "String"
			},
			"v_task_status": {
				"type": "String"
			},
			"v_run_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "_FRAMEWORK"
		},
		"annotations": []
	}
}