pipeline/PL_load_into_stg.json
{
	"name": "PL_load_into_stg",
	"properties": {
		"activities": [
			{
				"name": "get_task_parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "update_control_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[control].[sp_task_parameters]",
						"storedProcedureParameters": {
							"job": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job",
									"type": "Expression"
								}
							},
							"job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_id",
									"type": "Expression"
								}
							},
							"task": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"task_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"task_sequence": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.p_task_sequence",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "log_start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_job_task_log]",
					"storedProcedureParameters": {
						"job": {
							"value": {
								"value": "@pipeline().parameters.p_job",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().parameters.p_job_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_status": {
							"value": null,
							"type": "String"
						},
						"status_description": {
							"value": {
								"value": "@concat('Started running: ', pipeline().Pipeline)",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_sequence": {
							"value": {
								"value": "@pipeline().parameters.p_task_sequence",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"task_status": {
							"value": "RUNNING",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ln_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "update_control_table_success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_job_task_log]",
					"storedProcedureParameters": {
						"job": {
							"value": {
								"value": "@pipeline().parameters.p_job",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().parameters.p_job_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_status": {
							"value": null,
							"type": "String"
						},
						"status_description": {
							"value": {
								"value": "@concat('Succeeded running: ', pipeline().Pipeline)",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_sequence": {
							"value": {
								"value": "@pipeline().parameters.p_task_sequence",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"task_status": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ln_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "log_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "update_control_table_failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_job_task_log]",
					"storedProcedureParameters": {
						"job": {
							"value": {
								"value": "@pipeline().parameters.p_job",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().parameters.p_job_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_status": {
							"value": null,
							"type": "String"
						},
						"status_description": {
							"value": {
								"value": "@concat('Failed running: ', pipeline().Pipeline)",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_sequence": {
							"value": {
								"value": "@pipeline().parameters.p_task_sequence",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"task_status": {
							"value": "ERROR",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ln_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "update_control_table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "log_start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_update_job_control]",
					"storedProcedureParameters": {
						"job": {
							"value": {
								"value": "@pipeline().parameters.p_job",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().parameters.p_job_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_status": {
							"value": "RUNNING",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ln_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "update_control_table_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "load_staging_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_update_job_control]",
					"storedProcedureParameters": {
						"job": {
							"value": {
								"value": "@pipeline().parameters.p_job",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().parameters.p_job_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_status": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ln_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "update_control_table_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "load_staging_table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_update_job_control]",
					"storedProcedureParameters": {
						"job": {
							"value": {
								"value": "@pipeline().parameters.p_job",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().parameters.p_job_id",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_status": {
							"value": "ERROR",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ln_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "load_staging_table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "get_task_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[sp_load_stg]",
					"storedProcedureParameters": {
						"filepath": {
							"value": {
								"value": "@activity('get_task_parameters').output.firstRow.src_path",
								"type": "Expression"
							},
							"type": "String"
						},
						"stgtablename": {
							"value": {
								"value": "@activity('get_task_parameters').output.firstRow.tgt_stg_table",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ln_sqldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"p_job": {
				"type": "string"
			},
			"p_job_id": {
				"type": "string"
			},
			"p_task_sequence": {
				"type": "string"
			}
		},
		"folder": {
			"name": "_FRAMEWORK"
		},
		"annotations": [
			"@pipeline().parameters.p_job"
		]
	}
}